.how-it-works {
    margin-bottom: 96px;
    padding: 64px;
    background: #131313;
}

.how-it-works h3 {
    font-family: 'Clash Display', sans-serif;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 24px;
}

.how-it-works__content {
    display: block;
    justify-content: space-between;
    margin-bottom: 32px;
}

.how-it-works__content-block {
    width: 100%;
}

.how-it-works__content-block {
    margin-bottom: 32px;
}

.how-it-works__content-block:first-child {
    margin: 0 32px 0 0;
}

.how-it-works__content-block p {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #999999;
}

.how-it-works__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.how-it-works__list-item span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Clash Display', sans-serif;
    font-size: 15px;
    line-height: 11px;
    width: 24px;
    height: 24px;
    padding: 7px 9px;
    margin-right: 16px;
    color: #131313;
    background: #FFFFFF;
}

.how-it-works__list-item:last-child span {
    background-color: #CD1111;
    color: #FFFFFF;
}

.how-it-works__list-item p {
    color: #FFFFFF;
}

.how-it-works__link {
    font-family: 'Clash Display', sans-serif;
    font-size: 16px;
    padding: 16px;
    color: #131313;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 1px #FFFFFF solid;

    background-color: #FFFFFF;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(#131313, #131313);
    transition: background-size .5s, color .5s;
}

.how-it-works__link:hover {
    background-size: 100% 100%;
    background-image: linear-gradient(#131313, #131313);
    color: #FFFFFF;
    border: 1px #FFFFFF solid;
}


@media screen and (max-width: 1024px) {
    .how-it-works {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 768px) {
    .how-it-works {
        margin-bottom: 32px;
        padding: 32px;
    }
}

@media screen and (max-width: 480px) {
    .how-it-works {
        padding: 24px;
    }

    .how-it-works__link {
        font-size: 14px;
    }

    .how-it-works__content-block {
        margin-bottom: 24px;
    }

    .how-it-works__content-block p {
        font-size: 14px;
    }

    .how-it-works__list-item p{
        font-size: 14px;
    }

    .how-it-works__link {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .how-it-works {
        margin-bottom: 24px;
        padding: 16px;
    }

    .how-it-works__content {
        display: block;
    }

    .how-it-works__content-block {
        max-width: 277px;
    }

    .how-it-works__content-block p {
        font-size: 12px;
    }

    .how-it-works__content-block:first-child {
        margin: 0 0 16px 0;
    }

    .how-it-works h3 {
        margin-bottom: 16px;
    }

    .how-it-works__list-item p{
        font-size: 12px;
    }
}