.team {
    margin-bottom: 96px;
}

.team-description {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #999999;
    margin-bottom: 32px;
}

.team-content {
    display: flex;
    height: 100%;
}
.team-content__card {
    padding: 32px;
    background: #131313;
    border: 1px solid #131313;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.team-content__card:not(:last-child) {
    margin: 0 20px 0 0;
}

.team-content__card-block {
    width: 100%;
}
.team-content__card-block:nth-child(2) {
    flex: 1;
}

.team-content__card-block:first-child {
    display: flex;
    margin-bottom: 24px;
}

.team-content__card-image {
    width: 64px;
    height: 64px;
    margin-right: 16px;
}

.team-content__contact-name {
    font-family: 'Clash Display', sans-serif;
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-bottom: 13px;
}

.team-content__contact-post {
    font-family: 'Clash Display', sans-serif;
    font-size: 11px;
    line-height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #363636;
}

.team-content__list {
    padding-left: 20px;
    margin-bottom: 24px;
}
.team-content__list-item {
    list-style-type: disc;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 120%;
}
.team-content__card-description {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 120%;
    width: 100%;
}
.team-content__card-link {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: #CD1111;
    display: block;
    margin-top: 24px;
}

@media screen and (max-width: 1024px) {
    .team {
        margin-bottom: 64px;
    }
    .team-description {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .team {
        margin-bottom: 32px;
    }
    .team-content {
        flex-wrap: wrap;
    }
    .team-content__card:not(:last-child) {
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {
    .team {
        margin-bottom: 24px;
    }
    .team-description {
        margin-bottom: 16px;
    }
    .team-content__card:not(:last-child) {
        margin: 0 0 16px 0;
    }
}