@font-face {
    font-family: 'Clash Display';
    src: url('../assets/fonts/ClashDisplay-Medium.ttf') format('truetype');,
src: url('../assets/fonts/ClashDisplay-Medium.woff2') format('woff2');,
    src: url('../assets/fonts/ClashDisplay-Medium.woff') format('woff');

    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Inter Regular';
    src: url("../assets/fonts/Inter-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}