.main-hero {
    position: relative;
    margin-bottom: 96px;
}
.main-hero__logo {
    max-width: 330px;
    width: 100%;
    margin-bottom: 32px;
}

.main-hero__tagline {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 16px;
}

.main-hero__description {
    font-size: 16px;
    line-height: 160%;
    color: #999999;
    text-align: start;
    margin-bottom: 32px;
}

.description-list {
    font-size: 14px;
}

.main-hero__list {
    margin-bottom: 32px;
}

.main-hero__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.main-hero__list-item span {
    font-family: "Clash Display", sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #131313;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    max-width: 24px;
    height: 24px;
    width: 100%;
    margin-right: 16px;
}

.main-hero__list-item:last-child span{
    color: #FFFFFF;
    background: #CD1111;
}

.main-hero__list-item p{
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.main-hero__button-link {
    position: relative;
    font-family: 'Clash Display', sans-serif;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
    max-width: 210px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 64px;
    color: #FFFFFF;
    background-color: #CD1111;
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

.main-hero__button-link:hover {
    background-size: 100% 100%;
    /*background-color: #CD1111;*/
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    color: #CD1111;
    transition: background-size .5s, color .5s;
}

@media screen and (max-width: 1024px) {
    .main-hero {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 768px) {
    .main-hero {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 480px) {
    .main-hero__tagline {
        font-size: 14px;
    }

    .main-hero__description {
        margin-bottom: 24px;
        font-size: 14px;
    }

    .main-hero__button-link {
        max-width: 480px;
    }

    .description-list {
        font-size: 12px;
    }

    .main-hero__list {
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 320px) {
    .main-hero {
        margin-bottom: 24px;
    }

    .main-hero__logo {
        max-width: 220px;
    }

    .main-hero__description {
        margin-bottom: 16px;
    }

    .main-hero__list {
        margin-bottom: 16px;
    }

    .main-hero__list-item p {
        font-size: 14px;
    }

}