@import "fonts.css";
@import "header.css";
@import "main-hero.css";
@import "sections-styles/pricing.css";
@import "sections-styles/process.css";
@import "sections-styles/team.css";
@import "sections-styles/how-it-works.css";
@import "sections-styles/requirements.css";

body {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}
.container {
    max-width: 1256px;
    width: 100%;
    margin: 128px auto 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex
}

h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .main-hero h2 {
        max-width: 705px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 9px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding: 0 6px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }
}
